.paten-steps{
  list-style:none;
  margin:0;
  padding:6px 16px;

  display:flex;
  align-items:center;
  gap:14px;

  flex-wrap:nowrap;
  overflow-x:auto;          /* tetap bisa geser */
  overflow-y:hidden;

  white-space:nowrap;
  -webkit-overflow-scrolling:touch;
  scroll-behavior:smooth;

  width:100%;
  box-sizing:border-box;

  /* hide scrollbar */
  scrollbar-width: none;     /* Firefox */
}
.paten-steps::-webkit-scrollbar{ display:none; } /* Chrome/Edge/Safari */

/* item normal */
.paten-steps > .paten-step{
  display:inline-flex;
  flex:0 0 auto;
  margin:0;
  padding:0;
}

.paten-steps > .paten-step > a{
  display:inline-flex;
  align-items:center;
  white-space:nowrap;
  min-width:max-content;

  padding:10px 14px;
  border-radius:18px;
  text-decoration:none;
  font-size:14px;
  font-family: 'inter', sans-serif;
  font-weight:600;
  color:#1E1E1E;
}

.paten-steps > .paten-step.is-active > a{ background:#fff; }
.paten-steps > .paten-step.is-disabled > a{
  pointer-events:none;
  opacity:.55;
}
