.hero-layout{
  display: grid;
  grid-template-columns: max-content 1fr; 
  column-gap: 40px;
  margin: 170px 0;
  align-items: start;
}

/* ini sisi kiri*/
.bg{
  display: flex;
  align-items: flex-start;
  gap: 16px;

  padding-right: 28px;
  border-right: 2px solid #d1d5db;
  margin-left: 40px;
}

.img-undip{ width: 280px; height: auto; display: block; }
.hero-img2{ width: 350px; height: auto; display: block; }

/* sisi kanan */
.right{
  display: flex;
  flex-direction: column;
  gap: 40px;                
  max-width: 420px;
  margin-right: 50px;
}

/* bagian menu */
.menu-hak-paten{ margin: 0; }

.menu-hak-paten h2{
  font-size: 25px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #344c7b;
  margin-bottom: 10px;
}

/* flow */
.flow{
  display: flex;
  flex-direction: column;
  gap: 18px;                
}

.step{
  position: relative;
  display: flex;
  align-items: center;
  gap: 14px;
}

/* buat garis step*/
.step:not(:last-child)::after{
  content:"";
  position:absolute;
  left: 6px;
  top: 22px;
  width: 2px;
  height: calc(100% + 14px); 
  background: #d1d5db;
}

.step .dot{
  width: 14px;
  height: 14px;
  border-radius: 999px;
  background: #344c7b;
  border: 3px solid #fff;
  flex: 0 0 14px;
  position: relative;
  z-index: 2;
}

.step p{
  margin: 0;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #344c7b;
  line-height: 1.2;
}

.button-daftar-ptn{
  padding: 22px 20px;
  border-radius: 18px;
  background: #03061F;
  border: 2px solid #d1d5db;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.button-daftar-ptn h3{
  margin: 0;
  font-size: 22px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #fff;
}

.btn-dftr{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  border-radius: 14px;
  background: #fff;
  color: #03061F;
  text-decoration: none;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  transition: 0.2s ease;
}

.btn-dftr:hover{ transform: translateY(-2px); opacity: 0.95; }
.btn-dftr:active{ transform: translateY(0); }

/* ni buat responsive */
@media (max-width: 900px){
  .hero-layout{
    grid-template-columns: 1fr;
    row-gap: 18px;
    margin: 80px 0;
    justify-items: center;
  }

  .bg{
    margin-left: 0;
    padding-right: 0;
    border-right: 0;
    padding-bottom: 18px;
    border-bottom: 2px solid #d1d5db;
    justify-content: center;
    flex-wrap: wrap;
  }

  .right{
    max-width: 520px;
    width: 100%;
    margin-right: 0;
    gap: 10px;
  }
}
